html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

span {
  display: inline-block;
  position: relative;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

span::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  margin-left: 5rem;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: grey;
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  height: 5rem;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.nav-link:hover {
  text-decoration: none;
  color: white;
  filter: grayscale(0%) opacity(1);
  background-color: black;
}

.nav-link:visited {
  text-decoration: none;
  color: white;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link > object {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover {
  width: 14rem;
}

.navbar:hover .link-text {
  display: block;
}

.container {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  scroll-snap-align: start;
}

.child {
  background-color: white;
  font-family: sans-serif;
  text-align: justify;
  align-items: center;
  justify-content: center;
  display: flex;
}

.selfie {
  width: 200px;
  border-radius: 50%;
}

.img-with-text {
  text-align: center;
  width: 60%;
}

.img-with-text > img {
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.icons > svg {
  padding-left: 2px;
  padding-right: 2px;
}

.icons > svg:hover {
  fill: grey;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.media-scroller {
  --spacer: 1rem;
  display: grid;
  gap: var(--spacer);
  padding: 0 var(--spacer) var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  display: grid;
  gap: var(--spacer);
  padding: var(--spacer);
  text-align: center;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer);
}

.snaps-inline > * {
  scroll-snap-align: start;
}